@font-face {
  font-family: 'healingy';
  src:
    url('../fonts/healingy.ttf?i490cz') format('truetype'),
    url('../fonts/healingy.woff?i490cz') format('woff'),
    url('../fonts/healingy.svg?i490cz#healingy') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-healingy-"], [class*=" icon-healingy-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'healingy' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-healingy-slack:before {
  content: "\e928";
  color: #4a154b;
}
.icon-healingy-cart:before {
  content: "\e900";
}
.icon-healingy-chat:before {
  content: "\e901";
}
.icon-healingy-chat-box:before {
  content: "\e902";
}
.icon-healingy-check:before {
  content: "\e903";
}
.icon-healingy-check2:before {
  content: "\e904";
}
.icon-healingy-chev-left:before {
  content: "\e905";
}
.icon-healingy-chev-right:before {
  content: "\e906";
}
.icon-healingy-date:before {
  content: "\e907";
}
.icon-healingy-date2:before {
  content: "\e908";
}
.icon-healingy-facebook:before {
  content: "\e909";
}
.icon-healingy-instagram:before {
  content: "\e90e";
}
.icon-healingy-linkedin2:before {
  content: "\e90f";
}
.icon-healingy-mail:before {
  content: "\e910";
}
.icon-healingy-map:before {
  content: "\e911";
}
.icon-healingy-Minus:before {
  content: "\e915";
}
.icon-healingy-paper-plane:before {
  content: "\e917";
}
.icon-healingy-phone:before {
  content: "\e918";
}
.icon-healingy-Plus:before {
  content: "\e919";
}
.icon-healingy-right:before {
  content: "\e91a";
}
.icon-healingy-right1:before {
  content: "\e91b";
}
.icon-healingy-search:before {
  content: "\e91c";
}
.icon-healingy-sent:before {
  content: "\e91d";
}
.icon-healingy-settings:before {
  content: "\e91e";
}
.icon-healingy-skype:before {
  content: "\e91f";
}
.icon-healingy-start:before {
  content: "\e920";
}
.icon-healingy-time:before {
  content: "\e922";
}
.icon-healingy-twitter:before {
  content: "\e923";
}
.icon-healingy-up:before {
  content: "\e924";
}
.icon-healingy-user:before {
  content: "\e925";
}
.icon-healingy-dribbble:before {
  content: "\e929";
}
.icon-healingy-steam:before {
  content: "\e92a";
}
.icon-healingy-stackoverflow:before {
  content: "\e92b";
}
.icon-healingy-spotify:before {
  content: "\e92c";
}
.icon-healingy-behance:before {
  content: "\e92d";
}
.icon-healingy-vimeo:before {
  content: "\e92e";
}
.icon-healingy-youtube:before {
  content: "\e92f";
}
.icon-healingy-pinterest:before {
  content: "\e930";
}
.icon-healingy-thumb-tack:before {
  content: "\e931";
}
.icon-healingy-toggle-on:before {
  content: "\e932";
}
.icon-healingy-toggle-off:before {
  content: "\e933";
}
.icon-healingy-digg:before {
  content: "\e934";
}
.icon-healingy-bitcoin:before {
  content: "\e935";
}
.icon-healingy-google-plus:before {
  content: "\e936";
}
